
body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


p{

    line-height: 2;
}
h1{
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    color: #11999E;
   
 

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #11999E;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top-container{
    background-color: powderblue;
    position: relative;
    padding-top: 100px;
  
  
}
.middle-container{
    margin:100px 0;
    
    margin-bottom: 10%;
    /* margin: 20px; */

}
.bottom-container{
   background-color: #66bfbf;
   padding:50px 0 20px;
}

.pro{
    text-decoration: underline;
}

.bottom-cloud{
    position: absolute;
    left: 300px ;
    bottom:300px;
}

.top-cloud{
    position:absolute;
    right: 300px;
    top: 50px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
 
    
}

.android{
    width: 25%;
    float: left;
    margin-right: 30px;
   
}

.html{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.js{
    width:25%;
    float: left;
    margin-right: 30px;
}
.java{
    width:25%;
    float: right;
    margin-left: 30px;
}
.python{
    width:25%;
    float: left;
    margin-right: 30px;
}

.c-sharp{
    width: 25%;
    float: right;
    margin-left: 30px;

}
.kotlin{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.ruby{
    width: 25%;
    float: right;
    margin-left: 30px;
}


.Bio{
    width: 30%;
    margin:auto;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width:4%;
    margin:100px auto;
}
.contact-message{
    width: 40%;
    margin:40px auto 60px;

}




.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  a{
      color:#11999E;
      font-family: 'Montserrat', sans-serif;
      margin:10px 20px;
      text-decoration: none;
  }
  a:hover{
      color: #EAF6F6;
  }
  .copyright{
      color:#EAF6F6;
      font-size: 0.75rem;
      padding: 20px 0;
  }
  
  .android-studio{
        width: 10%;
  }
  .vs-code{
    width: 10%;
  }
  .intellij{
    width: 10%;
  }

  .pycharm{
    width: 10%;
    
     

  }
  .sublime{
    width: 10%;
  }

 
  .used{
     margin: 10% auto 5px;
     width: 100%;
  
  }


.my-image{
    width: 15%;
}